{{define "main"}}

<!-- ======= Hero Section ======= -->
{{with .Params.hero_section}}
<section id="hero">
  <div class="container" data-aos="zoom-in" data-aos-delay="100">
    <div class="row">
      <div class="col-md-6">
        <h1>{{.name | safeHTML}}</h1>
        <p>
          I've experiance with
          <span
            class="typed"
            data-typed-items="{{range .titles}} {{.}} {{end}}"
          ></span>
        </p>
        <p class="text-container">{{.bio}}</p>
        <div class="social-links">
          <a href="callto:561-247-3146" class="twitter">
            <i class="bi bi-telephone-fill"></i>
          </a>
          <a href="mailto:ux@pixelbendr.com" class="google-plus">
            <i class="bi bi-envelope-at-fill"></i>
          </a>
          <a
            href="https://www.linkedin.com/in/pixelwiz"
            target="_blank"
            class="linkedin"
            ><i class="bx bxl-linkedin"></i
          ></a>
        </div>
        <div class="btn-dark">
          <a href="">
            View Portfolio <i class="bi bi-arrow-right-short"></i>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="img">
          <img src="{{.image}}" alt="Profile Image" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}
<!-- End Hero -->

<!--Portfolio-->
<section class="portfolio">
  <div class="container pt-5 pb-5" data-aos="zoom-in" data-aos-delay="100">
    <header>
      <h2>
        In the Art of Living <br />
        I Seek, I Create, I Design
      </h2>
    </header>
    <div class="row pt-4">
      <div class="col-md-9 text-light">
        <p>
          Greetings! I'm Roman, your Product Design & UX expert. With 18+ years
          in UX/UI and 15+ years leading web-based software engineering, I excel
          in Agile/Scrum development.
        </p>
        <div class="btn-light">
          <a href="">
            View Portfolio <i class="bi bi-arrow-right-short"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Portfolio-->

{{end}}
