<!-- ======= Mobile nav toggle button ======= -->
<!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
<i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
<!-- ======= Header ======= -->
<header id="header" class="d-flex flex-column justify-content-center">
  <nav id="navbar" class="navbar nav-menu">
    <ul>
      {{- range site.Menus.main }}
      <li>
        <a href="{{.URL}}" class="nav-link scrollto">
          {{with .Params.class}}
          <i class="{{.}}"></i>
          {{end}}
          <span>{{.Name}}</span></a
        >
      </li>
      {{end}}
    </ul>
  </nav>
  <!-- .nav-menu -->
</header>
<!-- End Header -->
